<table class="public_table">
	<tr class="public_table_header"><th>&nbsp;</th><th>Apprentice</th><th>Maker</th><th>Master</th></tr>
	<tr><td class="left">Price</td><td>Free!</td><td>$39/year</td><td>$69/year</td></tr>
	<tr><td class="left">Works</td><td>10 works</td><td>100 works</td><td>Unlimited</td></tr>
	<tr><td class="left">Client Management</td><td>5 clients</td><td>Unlimited</td><td>Unlimited</td></tr>
	<tr><td class="left">Venue Management</td><td>2 venues</td><td>Unlimited</td><td>Unlimited</td></tr>
	<tr><td class="left">Track sales, commissions, consignments and more</td><td><div class="lighter"><%= icon(:ok) %></div></td><td><div class="lighter"><%= icon(:ok) %></td><td><div class="lighter"><%= icon(:ok) %></td></tr>
	<tr><td class="left">Advanced reporting</td><td><div class="lighter"><%= icon(:ok) %></td><td><div class="lighter"><%= icon(:ok) %></td><td><div class="lighter"><%= icon(:ok) %></td></tr>
	<tr><td class="left">Public website to promote yourself and works</td><td><div class="lighter"><%= icon(:ok) %></td><td><div class="lighter"><%= icon(:ok) %></td><td><div class="lighter"><%= icon(:ok) %></td></tr>
	<tr><td class="left">Daily backups</td><td><div class="lighter"><%= icon(:ok) %></td><td><div class="lighter"><%= icon(:ok) %></td><td><div class="lighter"><%= icon(:ok) %></td></tr>
</table>