<div class="row-fluid">
	<div class="span6 offset1">
		<h1>Take control of your business</h1>
		<p>Makers' Moon is a business tool for artists that makes it easy to manage your works, venues, clients, and the activities between them. This single integrated tool will save you time, organize your business, and help you promote your work. Are you ready to better understand and expand your business?</p>
		<div class="row-fluid home-links">
			<div class="span4">
				<%= image_tag "features.png", alt: "Picture of some features of Makers' Moon", :class => "features_image" %>
			</div>
			<div class="home-center">
				Learn more about <%= link_to "Makers' Moon features", features_path %>
				<br /><br />
				&nbsp; &nbsp; &nbsp;<%= link_to "Meets makers", users_path %> and see their works.
			</div>
		</div>
		
	</div>
	<div class="span3 offset1">
		<h1>Get Started!<span class="alt-link">Already a member? <a href="<%= signin_path %>">LOG IN</a></span></h1>
		<p>Sign up for &nbsp; <span class="h2">free</span> &nbsp; then upgrade when you need to!</p>
		<%= render 'users/form_user_initial', user: @user %>
	</div>
</div>
