<%= form_for [ site, sitevenue ] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row-fluid">   
    <div class="span4">
      <div class="control-group">
        <%= f.label :venue_id, "Venue", :class => "control-label" %>
        <div class="controls">
          <%= f.collection_select :venue_id, venues, :id, :name, :prompt => true %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Add venue", class: "btn" %>
  </div>
<% end %>