<table id="Works">
  <thead>
    <tr>
      <% if categoryfilter.nil? %>
        <th>Category</th>
      <% end %>
      <th>Status</th>
      <th>Title</th>
      <th>Inventory ID</th>
      <th>Creation Date</th>
      <th>Materials</th>
      <th>Description</th>
      <th>Dimention X</th>
      <th>Dimention Y</th>
      <th>Dimention Units</th>
      <th>Expense Hours</th>
      <th>Expense Materials</th>
      <th>Income</th>
      <th>Retail Value</th>
      <th>Public</th>
    </tr>
  </thead>
  <tbody>
    <% works.each do |work| %>
      <tr>
        <% if categoryfilter.nil? %>
          <td><div class=overflow><%= workcategory_name(work) %></div></td>
        <% end %>
        <td><div class=largeoverflow><%= status(work) %></div></td>
        <td><div class=overflow><%= link_to work.title, work_path(work) %></td>
        <td><div class=overflow><%= work.inventory_id %></div></td>
        <td><div class=overflow><%= work.creation_date %></div></td>
        <td><div class=overflow><%= work.materials %></div></td>
        <td><div class=overflow><%= work.description %></div></td>
        <td><div class=overflow><%= work.dimention1 %></div></td>
        <td><div class=overflow><%= work.dimention2 %></div></td>
        <td><div class=overflow><%= work.dimention_units %></div></td>
        <td><div class=overflow><%= work.expense_hours %></div></td>
        <td><div class=overflow><%= work.expense_materials %></div></td>
        <td><div class=overflow><%= work.income %></div></td>
        <td><div class=overflow><%= work.retail %></div></td>
        <td><div class=overflow><%= work.share_public %></div></td>
      </tr>
    <% end %>  
  </tbody>
</table>