<%= form_tag update_multiple_works_path, :method => :put, :multipart => true do %>
  <% works.each do | work| %>
    <% if !work.errors.empty? %>
      <%= "Updates to <i>#{work.title}</i> (#{work.inventory_id}) had the following errors:" %><br />
      <ul>
        <% work.errors.full_messages.each do |e| %>
          <li><%= e %></li><br />
        <% end %>
      </ul>
    <% end %>
  <% end %>
  <table class="editable">
    <thead>
      <tr>
        <th><div>Category</div></th>
        <th><div>Title</div></th>
        <th><div>Inventory ID</div></th>
        <th><div>Creation Date</div></th>
        <th><div>Materials</div></th>
        <th><div>Description</div></th>
        <th><div>Dimensions</div></th>
        <th><div>Hours Invested</div></th>
        <th><div>Material Costs</div></th>
        <th><div>Income</div></th>
        <th><div>Retail</div></th>
        <th><div>Public</div></th>
        <th class="above_scroll"><div></div></th>
      </tr>
    </thead>
    <tbody>
      <% works.each do |work| %>
        <%= fields_for "works[]", work do |f| %>
          <tr>
            <td class="td_large"><%= f.collection_select :workcategory_id, categories, :id, :name, { :include_blank => "Uncategorized" } %></td>
            <td class="td_large"><%= f.text_field :title %></td>
            <td class="td_medium"><%= f.text_field :inventory_id %></td>
            <td class="td_medium"><%= f.text_field :creation_date, :class => "datepicker" %></td>
            <td class="td_large"><%= f.text_field :materials %></td>
            <td class="td_x_large"><%= f.text_field :description %></td>
            <td class="td_large"><%= f.text_field :dimention1 %></td>
            <td class="td_small"><%= f.text_field :expense_hours %></td>
            <td class="td_small"><%= f.text_field :expense_materials %></td>
            <td class="td_small"><%= f.text_field :income %></td>
            <td class="td_small"><%= f.text_field :retail %></td>
            <td class="td_small"><%= f.check_box :share_public %></td>
          </div><!-- /row -->
        <% end %>
      <% end %><!-- works loop -->
      </tbody>
  </table>
  <p><%= submit_tag "Update works", :class => "edit_works_submit btn" %></p>
<% end %>