<% provide(:title, 'Works') %>

<% if @works.any? %>
	<% provide(:new_form, "new_work") %>

	<div id="new_work" class="not-displayed">
		<%= render 'shared/form_work', work: @work %>
	</div>
	<% if !@categoryfilter.nil? %>
		Works have been filtered to show only <%= @categoryfilter[1] %> <%= @categoryfilter[0] %> works.
	<% end %><br /><br />
	<%= render 'shared/table_works', works: @works %>
<% else %>
	<%= render 'shared/get_started_works' %>
<% end %>
