<% provide(:title, 'Works') %>
<% provide(:new_link, "works/new") %>

<% if @works.any? %>
	<% if !@categoryfilter.nil? %>
		<% categoryfilter = @categoryfilter.split('.') %>
		Works have been filtered to show only <%= categoryfilter[1] %> <%= categoryfilter[0] %> works.<br /><br />
	<% elsif !@statusfilter.nil? %>
		Works have been filtered to show only <%= @statusfilter.downcase %> works.<br /><br />
	<% end %>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
	  <li id="editable_table_link" class="popover-input", rel="popover", data-title="An editable table", data-content="The contents of each cell are editable. Just remember to click the Update works button to save changes.", data-placement="top"><a href="#table" data-toggle="tab">Table</a></li>
	  <li><a href="#thumbnails" data-toggle="tab">Thumbnails</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
	  <div class="tab-pane active" id="summary">
	  	<%= render 'table_with_pictures_works', works: @works %>
	  </div>
	  <div class="tab-pane" id="table">
		<%= render 'table_edit_works', works: @works, categories: @workcategories %>
	  </div>
	  <div class="tab-pane" id="thumbnails">
		<%= render 'thumb_works', works: @works %>
	  </div>
	</div>
<% elsif  @parentcategories.any? %>
	<%= render 'get_started_works' %>
	<b>Click the <%= link_to "NEW", new_work_path %> button to start adding works.</b><br /><br /><br />
	<b><%= link_to "Create MORE categories of works first!", new_workcategory_path %></b>
	<h2>Existing work categories</h2>
	<%= render 'workcategories/list_workcategories', parentcategories: @parentcategories %>
<% else %>
	<%= render 'get_started_works' %>
	<b>Click the <%= link_to "NEW", new_work_path %> button to start adding works.</b><br /><br /><br />
	<%= render 'workcategories/get_started_workcategories' %>
	<b><%= link_to "Create a NEW category of works first!", new_workcategory_path %></b>
<% end %>
