<% provide(:title, 'Works') %>

<% if @works.any? %>
	<% provide(:new_form, "new_work") %>

	<div id="new_work" class="not-displayed">
		<%= render 'form_work', work: @work, categories: @workcategories %>
	</div>
	<% if !@categoryfilter.nil? %>
		Works have been filtered to show only <%= @categoryfilter[1] %> <%= @categoryfilter[0] %> works.
	<% elsif !@statusfilter.nil? %>
		Works have been filtered to show only <%= @statusfilter %> works.
	<% end %><br /><br />
	<%= render 'table_works', works: @works %>
<% else %>
	<%= render 'get_started_works', parentcategories: @parentcategories, categories: @workcategories, workcategory: @workcategory%>
<% end %>
