<% provide(:title, 'New work') %>
<h1><%= yield(:title) %></h1>

<div>
  <%= form_for(@work) do |f| %>
   	<%= render 'shared/error_messages', object: f.object %>

    <div class="control-group work span2">
    	<div class="work-title" required="true">
      	<%= f.text_field :title, placeholder: "Title" %>
        <div class="collection_select inline">
          Category <%= f.collection_select :workcategory_id, @workcategories, :id, :name, :prompt => true %>
        </div>
      	<%= f.label :worksubcategory_id, "Subcategory", :class => "inline" %>
      	<%= f.text_field :worksubcategory_id, placeholder: "Subcategory" %>
			</div>
			<div class="work-info">
				<%= f.text_field :inventory_id, placeholder: "Inventory ID" %>

				<%= f.text_field :creation_date, placeholder: "Creation date" %>

				<%= f.text_field :path_image1, placeholder: "Large image path" %>

      	<%= f.text_field :path_small_image1, placeholder: "Small image path" %>
      </div>
    </div>
    <div class="control-group work-description">
      <legend>Description</legend>
      <div class="work-description-text">
     		<%= f.text_area :description, placeholder: "Description", :rows => 4, :cols => 1 %>
     	</div>
     	<div class="work-description-dimention">
     		<%= f.text_field :dimention1, placeholder: "First dimention" %>

     		<%= f.text_field :dimention2, placeholder: "Second dimention" %>

     		<%= f.text_field :dimention_units, placeholder: "Dimension units" %>
     	</div>
    </div>
    <div class="control-group work-cash">
      <legend>Cash flow</legend>
			<%= f.text_field :expense_hours, placeholder: "Hours involved" %>

     	<%= f.text_field :expense_materials, placeholder: "Material costs" %>

			<%= f.text_field :income_wholesale, placeholder: "Wholesale" %>

     	<%= f.text_field :income_retail, placeholder: "Retail" %>
		</div>
    <div class="form-actions">
      <%= f.submit "Add", class: "btn" %>
    </div> 
  <% end %>
</div>