<% provide(:page, "#{@work.title} Work)" %>
<% provide(:crumbs, "Works," + works_path) %>
<% provide(:title, @work.title) %>
<% provide(:delete_record, @work) %>
<div class="row-fluid">
	<div class="span7 form-box">
		<%= render 'form_work', work: @work, categories: @workcategories %>
	</div>
	<div class="span4 offset1">
		<% status = status(@work) %>
		<p>Work is <%= status %></p>
		<br />
		<%= render 'actions/actions_area', actions: @actions %>
		<br /><br />
		<%= render 'notes/notes_area', notes: @notes %>
	</div>
</div>
<br /><br />
<div class="row-fluid">
	<div class="span7">
		<legend class="h2">Activities
			<% if status == 'Available' or status.include? "Co" %>
				&nbsp; &nbsp; <%= link_to "New", "activities/new?work=#{@work.inventory_id}" %>
			<% end %>
		</legend>
		<% if @activities.any? %>
			<div class="form-box limit-size">
				<%= render 'activities/table_activities', activities: @activities, work_include: false  %>
			</div>
		<% else %>
			No activities recorded yet about this work.
		<% end %>
	</div>
</div>
