<% provide(:page, "#{@work.title} Work") %>
<% provide(:crumbs, "Works," + works_path) %>
<% provide(:title, @work.title) %>
<% provide(:delete_record, @work) %>
<div class="row-fluid">
	<div class="span7 form-box">
		<%= render 'form_work', work: @work, categories: @workcategories %>
	</div>
	<div class="span4 offset1">
		<%= render 'actions/actions_area', actions: @actions %>
		<br /><br />
		<%= render 'notes/notes_area', notes: @notes %>
	</div>
</div>
<br /><br />
<div class="row-fluid">
	<div class="span7">
		<legend class="h2">Activities
			<%= link_to "New", new_activity_path %>
		</legend>
		<% if @activityworks.any? %>
			<div class="form-box limit-size">
				<%= render 'table_activityworks_and_activity', activityworks: @activityworks %>
			</div>
		<% else %>
			No activities recorded yet for this work.
		<% end %>
	</div>
</div>
