<div class="span6">
          <div class="control-group">
            <%= f.label :email, :class => "control-label" %>
            <div class="controls"><%= f.text_field :email%></div>
          </div>
          <div class="control-group">
            <%= f.label :phone, :class => "control-label" %>
            <div class="controls"><%= f.text_field :phone%></div>
          </div>
          <div class="control-group">
            <%= f.label :address_street, "Street address", :class => "control-label" %>
            <div class="controls"><%= f.text_field :address_street%></div>
          </div>
          <div class="control-group">
            <%= f.label :address_city, "City", :class => "control-label" %>
            <div class="controls"><%= f.text_field :address_city%></div>
          </div>
          <div class="control-group">
            <%= f.label :address_state, "State", :class => "control-label" %>
            <div class="controls"><%= f.text_field :address_state%></div>
          </div>
          <div class="control-group">
            <%= f.label :address_zipcode, "Zip code", :class => "control-label" %>
            <div class="controls"><%= f.text_field :address_zipcode%></div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%= f.label :social_etsy, "Etsy", :class => "control-label" %>
            <div class="controls"><%= f.text_field :social_etsy %></div>
          </div>
          <div class="control-group">
            <%= f.label :social_linkedin, "LinkedIn", :class => "control-label" %>
            <div class="controls"><%= f.text_field :social_linkedin %></div>
          </div>
          <div class="control-group">
            <%= f.label :social_facebook, "Facebook", :class => "control-label" %>
            <div class="controls"><%= f.text_field :social_facebook %></div>
          </div>
          <div class="control-group">
            <%= f.label :social_twitter, "Twitter", :class => "control-label" %>
            <div class="controls"><%= f.text_field :social_twitter %></div>
          </div>
          <div class="control-group">
            <%= f.label :social_pinterest, "Pinterest", :class => "control-label" %>
            <div class="controls"><%= f.text_field :social_pinterest %></div>
          </div>
          <div class="control-group">
            <%= f.label :social_googleplus, "Google+", :class => "control-label" %>
            <div class="controls"><%= f.text_field :social_googleplus %></div>
          </div>
        </div>