<table>
	<caption><span class="h3"><%= "Sales to date by #{outcome}" %></span>: sale from <%= period %> reported in dollars</caption>
  <thead>
    <tr>
    	<th><%= outcome.capitalize %></th>
    	<th>Number of sales</th>
      <th>Absolute retail value</th>
      <th>Absolute income</th>
      <th>Average income</th>
    </tr>
  </thead>
  <tbody>
    <% hoa.each do | k, v | %>
    	<tr>
    		<td><%= k %></td>
	    	<td><%= v.count %></td>
	    	<td><%= sumKeys(v, "retail") %></td>
	    	<td><%= sumKeys(v, "income") %></td>
	    	<td><%= averageKeys(v, "income") %></td>
    	</tr>
	   <% end %>
  </tbody>
</table>

