<% provide(:maker, @user.name ) %>
<% provide(:page, 'About') %>
<% provide(:title, 'About') %>
<div class="row-fluid">
	<div class="span4">
		<%= image_tag @user.image.url(:medium), alt: "Picture of #{@user.name}" %>
		<% if !@user.domain.blank? %>
			<br /><br/>
			For more on <%= @user.name %> please visit <%= link_to @user.domain, "#{@user.domain}" %>.
		<% end %>
	</div>
	<div class="span8">
		<% if ! @bio.blank? %>
			<p><i>Artist Bio</i><br /><%= raw @bio.comment %></p><br /><br />
		<% end %>
		<% if ! @statement.blank? %>
			<p><i>Artist Statement</i><br /><%= raw @statement.comment %></p>
		<% end %>
	</div>
</div>