<% provide(:title, 'Makers on their way to the moon') %>
<% @users.each do |user| %>
<div class="row-fluid users-index">
    <div class="span1"><%= image_tag user.image.url(:thumb), alt: "Picture of #{user.name}" %></div>
    <div>
      <h4>
        <%= user.name %> 
        <span class="p lighter">(<%= user.username %>) joined <%= user.created_at.strftime("%B %Y")%></span>
        <% if current_user.admin? %>
          <%= link_to icon(:trash), user, class: "icon-trash bottom", method: :delete, data: { confirm: "Delete #{user.name}?" }, title: 'Delete?' %>
        <% end %>
      </h4>
      <div class="lighter">
	      <% if user.share_with_public %>
          <%= render 'public_pages_list', user: user %>
        <% else %>
        This maker has not yet created a public site.
        <% end %>
      </div>
    </div>
  </div>
<% end %>