<% provide(:title, 'Insights') %>
<div class="row-fluid">
	<div class="span8">
		<legend class="h2">Current Snapshots</legend>
		The statistics and insights below are calculated each time you visit this report and will thus change day to day. For instance the "past month" is the past thirty days and findings will change as the dates associated with works move in and out of this window of time.
		<h2><a id="WorksStatus_Content_display" class="display_toggle" href="#WorksStatus_Content">Works status</a></h2>
  	<div id="WorksStatus_Content" class="row-fluid">

  		<table id="StatusOfWorks">
				<caption><span class="h3">Status of works</span>: The status of works today and at past time points, reported in count (%)</caption>
			  <thead>
			    <tr>
			    	<th>Status</th>
			    	<th>Today</th>
			      <th>1 month ago</th>
			      <th>6 months ago</th>
			      <th>1 year ago</th>
			      <th>5 years ago</th>
			    </tr>
			  </thead>
			  <tbody>
			    <% activity_types = ['Available', Activitycategory::CONSIGNMENT[:status], Activitycategory::COMMISSION[:status], Activitycategory::SALE[:status], Activitycategory::GIFT[:status], Activitycategory::DONATE[:status], Activitycategory::RECYCLE[:status]] %>
			    <tr>
			    	<td>Total works</td>
			    	<% @activities_array.each do | a | %>
		    			<% countA = a.count %>
							<td><%= countA %></td>
						<% end %>
					</tr>
			    <% activity_types.each do | t | %>
			    	<tr>
			    		<td><%= t %></td>
			    		<% @activities_array.each do | a | %>
			    			<% countA = a.count
			    				 countT = a.count(t) %>
								<td><%= "#{countT} (#{number_to_percentage(100.0 * countT/countA, precision: 1)})" %></td>
							<% end %>
						</tr>
			    <% end %>
			  </tbody>
			</table>
			<br />
			Insights
			<% 
				consigned = []
				unavailable_array = []

				unavailable_now = @activities_array[0].count(Activitycategory::SALE[:status]) + @activities_array[0].count(Activitycategory::GIFT[:status]) + @activities_array[0].count(Activitycategory::DONATE[:status]) + @activities_array[0].count(Activitycategory::RECYCLE[:status])

				@activities_array.each do | a | 
					c = a.count(Activitycategory::CONSIGNMENT[:status]).to_f
					consigned.push "#{(c*100/(a.count('Available') + c)).round(1)}%" 

					unavailable_array.push  unavailable_now - (a.count(Activitycategory::SALE[:status]) + a.count(Activitycategory::GIFT[:status]) + a.count(Activitycategory::DONATE[:status]) + a.count(Activitycategory::RECYCLE[:status]))
				end
			%>
			<ul>
				<li><%="New works: #{@activities_array[0].count - @activities_array[1].count} were created in the last month, #{@activities_array[0].count - @activities_array[2].count} in the last six months, #{@activities_array[0].count - @activities_array[3].count} in the last year, and #{@activities_array[0].count - @activities_array[4].count} in the last five years." %></li>
				<li><%="Placed works: #{unavailable_array[1]} found a home or were recycled in the last month, #{unavailable_array[2]} in the last six months, #{unavailable_array[3]} in the last year, and #{unavailable_array[4]} in the last five years." %></li>
				<li><%="Consigned works: #{consigned[0]} of works available for sale are currently consigned. This percentage was #{consigned[1]} a month ago, #{consigned[2]} 6 months ago, #{consigned[3]} 1 year ago, and #{consigned[4]} 5 years ago." %></li> 
			</ul>
		</div><!-- /StatusOfWorks_Content -->
		<h2><a id="SoldWorks_Content_display" class="display_toggle" href="#SoldWorks_Content">Sold works</a></h2>
  	<div id="SoldWorks_Content" class="row-fluid">
  		Makers' Moon calculates profit and an estimated wage. These calculated outcomes are composed of multiple data points and will be inaccurate if data is missing. Profit is based on the income and material costs of each sold work. The estimated wage is based on the profit and the number of hours spent on each work. 
  		<br /><br />
  		<table id="AnnualAbsoluteSoldWorkTotals">
			  <caption><span class="h3">Absolute sales</span>: Absolutes of sold works, reported in dollars unless otherwise specified</caption>
			  <thead>
			    <tr>
			    	<th>Sale Details</th>
			      <th>Past month</th>
			      <th>Past 6 months</th>
			      <th>Past year</th>
			      <th>Past 5 years</th>
			      <th>To date </th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			    	<td>Number of sales</td>
			    	<% @sold_works_array.each do | a | %>
			    		<td><%= a.count %></td>
			    	<% end %>
			    </tr>
			    <% sum_outcomes = [["Retail value", "retail"], ["Income", "income"], ["Material costs", "expense_materials"], ["Profit", "profit"], ["Hours (hrs)", "expense_hours"]] %>
			    <% sum_outcomes.each do | o | %>
			    	<tr>
			    		<td><%= o[0] %></td>
			    		<% @sold_works_array.each do | a | %>
			    			<td><%= sumKeys(a, o[1]) %></td>
			    		<% end %>
			    	</tr>
			    <% end %>
			  </tbody>
			</table>
			<br />
			<table id="AnnualAverageSoldWorkTotals">
				<caption><span class="h3">Average sales</span>: Average per sold work, reported in dollars unless otherwise specified</caption>
			  <thead>
			    <tr>
			    	<th>Sale Details</th>
			      <th>Past month</th>
			      <th>Past 6 months</th>
			      <th>Past year</th>
			      <th>Past 5 years </th>
			      <th>To date</th>
			    </tr>
			  </thead>
			  <tbody>
			    <% sum_outcomes = [["Est. wage ($/hr)", "wage"], ["Retail value", "retail"], ["Income", "income"], ["Material costs", "expense_materials"], ["Profit", "profit"], ["Hours (hrs)", "expense_hours"]] %>
			    <% sum_outcomes.each do | o | %>
			    	<tr>
			    		<td><%= o[0] %></td>
			    		<% @sold_works_array.each do | a | %>
			    			<td><%= averageKeys(a, o[1]) %></td>
			    		<% end %>
			    	</tr>
			    <% end %>
			  </tbody>
			</table>
			<br />
			<%= render "table_snapshot_sold_works_by_outcome", outcome: "category", hoaa: @sold_works_by_category_array %>
			<br />
			<%= render "table_snapshot_sold_works_by_outcome", outcome: "venue", hoaa: @sold_works_by_venue_array %>
			<br />
			<%= render "table_snapshot_sold_works_by_outcome", outcome: "client", hoaa: @sold_works_by_client_array %>
			<br />
			Insights
			<ul>
				<% if averageKeys(@sold_works_array[2],'retail').to_f() > 0 %>
					<li>In the past year you received, on average, <%= number_to_percentage(100 * averageKeys(@sold_works_array[2],'income').to_f()/averageKeys(@sold_works_array[2],'retail').to_f(), precision: 0) %> of the retail value of your work.</li>
				<% end %>
			</ul>
		</div><!-- /SoldWorks_Content -->
	</div>
	<div class="span3 offset1">
		<legend class="h2">Cyclical Reports</legend>
		Reports of natural calendar cycles. Note these are updated as past records are updated.
		<br /><br />
		<% current_year = Date.today.year %>
		<% (0..(current_year - @date_of_oldest_work.year)).each do |i| %>
			<% year = current_year - i 
				 report_name = year
				 if year == current_year
				 	report_name = "#{year} To Date"
				 elsif year == @date_of_oldest_work.year
				 	report_name = "#{year} Partial Report"
				 else
				 	report_name = "#{year} Annual Report"
				 end
			%>
			<%= link_to report_name, annual_user_path(current_user, :year => year) %><br />
		<% end %>
	</div>
</div>
