<div class="tinted_box">
	<%= form_for(@user, :html => {}) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <div class="row-fluid">
	    <%= f.text_field :name, placeholder: "Full Name" %>
	   	<%= f.text_field :username, placeholder: "UserName" %>
	    <%= f.text_field :email , placeholder: "Email"%>
	    <%= f.password_field :password , placeholder: "Password"%>
	    <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
	    <%= f.submit class: "btn" %>
	  </div>
	<% end %>
  <a class="landing_tag" href="<%= signin_path %>">Have an acount? Sign in!</a>
</div>
