<% provide(:page, 'Dashboard') %>
<% provide(:title, "Dashboard") %>
<div class="row-fluid">
	<div class="span11">
		<% if !@user.works.any? && !@user.share_with_public %>
			<b>Welcome to Makers' Moon! Spend a moment to take a quick tour or click around and explore on your own!
			<%= link_to "Take tour", tour_path, :class => "btn f-right" %></b><br /><br />
		<% end %>
	</div>
</div>
<legend class="h2">Quick Actions</legend>
<div class="row-fluid">
		<div class="span2">
			<%= link_to "New work", new_work_path, class: "btn" %><br /><br />
			<%= link_to "New client", new_client_path, class: "btn"  %><br /><br /> 
			<%= link_to "New venue", new_venue_path, class: "btn"  %>
		</div>
		<div class="span4">
			Record a...<br /><br />
			<%= link_to "Sale", new_activity_path(:category => Activity::SALE[:name]), class: "btn"  %> &nbsp; 
			<%= link_to "Gift", new_activity_path(:category => Activity::GIFT[:name]), class: "btn"  %> &nbsp; 
			<%= link_to "Donation", new_activity_path(:category => Activity::DONATION[:name]), class: "btn"  %>
		</div>
		<div class="span3">
			Prepare for...<br /><br />
			<%= link_to "Show", new_activity_path(:category => Activity::SHOW[:name]), class: "btn"  %> &nbsp; 
			<%= link_to "Consignment", new_activity_path(:category => Activity::CONSIGNMENT[:name]), class: "btn"  %> &nbsp; 
		</div>
		<div class="span3">
			Create a...<br /><br />
			<%= link_to "Porfolio", new_activity_path(:category => Activity::PORTFOLIO[:name]), class: "btn"  %> &nbsp; 
			<%= link_to "Line Sheet", new_activity_path(:category => Activity::LINE_SHEET[:name]), class: "btn"  %> &nbsp; 
		</div>
	</div>
</div><br /><br />
<div class="row-fluid">
	<div class="span4">
		<legend class="h2">Business Summary <span class="p f-right"> <%= link_to "Import", new_import_path %> | <%= link_to "Export", export_path %> | <%= link_to "Insights", insight_user_path(current_user) %></span></legend>
		<table class="padded-table">
			<tr class="table-header-shading"><th class="left">Categories</th><th>Count</th><th>Actions</th></tr>
			<tr>
				<% count = @user.workcategories.all.count %>
				<td class="left">Work categories</td>
				<td><%= count %></td>
				<td><%= link_to "New", new_workcategory_path %> | <% if count > 0 %><%= link_to "View",workcategories_path %><% else %><span class="lighter">View</span><% end %></td>
			</tr>	
			<tr>
				<% count = @user.works.all.count %>
				<td class="left">Works</td>
				<td><%= count %></td>
				<td><%= link_to "New", new_work_path %> | <% if count > 0 %><%= link_to "View",works_path %><% else %><span class="lighter">View</span><% end %></td>
			</tr>
			<tr>
				<% count = @user.clients.all.count %>
				<td class="left">Clients</td>
				<td><%= count %></td>
				<td><%= link_to "New", new_client_path %> | <% if count > 0 %><%= link_to "View",clients_path %><% else %><span class="lighter">View</span><% end %></td>
			</tr>
			<tr>
				<% count = @user.venues.all.count %>
				<td class="left">Venues</td>
				<td><%= count %></td>
				<td><%= link_to "New", new_venue_path %> | <% if count > 0 %><%= link_to "View",venues_path %><% else %><span class="lighter">View</span><% end %></td>
			</tr>
			<tr>
				<% count = @user.activities.sales.count %>
				<td class="left">Sales</td>
				<td><%= count %></td>
				<td><%= link_to "New", new_activity_path(:category => Activity::SALE[:name]) %> | <% if count > 0 %><%= link_to "View",activities_path(:category => Activity::SALE[:name]) %><% else %><span class="lighter">View</span><% end %></td>
			</tr>
			<tr>
				<% count = @user.activities.shows.count %>
				<td class="left">Shows</td>
				<td><%= count %></td>
				<td><%= link_to "New", new_activity_path(:category => Activity::SHOW[:name]) %> | <% if count > 0 %><%= link_to "View",activities_path(:category => Activity::SHOW[:name]) %><% else %><span class="lighter">View</span><% end %></td>
			</tr>
			<tr>
				<% count = @user.activities.consignments.count %>
				<td class="left">Consignments</td>
				<td><%= count %></td>
				<td><%= link_to "New", new_activity_path(:category => Activity::CONSIGNMENT[:name]) %> | <% if count > 0 %><%= link_to "View",activities_path(:category => Activity::CONSIGNMENT[:name]) %><% else %><span class="lighter">View</span><% end %></td>
			</tr>
			<tr>
				<% count = @user.activities.gifts.count %>
				<td class="left">Gifts</td>
				<td><%= count %></td>
				<td><%= link_to "New", new_activity_path(:category => Activity::GIFT[:name]) %> | <% if count > 0 %><%= link_to "View",activities_path(:category => Activity::GIFT[:name]) %><% else %><span class="lighter">View</span><% end %></td>
			</tr>
			<tr>
				<% count = @user.activities.donations.count %>
				<td class="left">Donations</td>
				<td><%= count %></td>
				<td><%= link_to "New", new_activity_path(:category => Activity::DONATION[:name]) %> | <% if count > 0 %><%= link_to "View",activities_path(:category => Activity::DONATION[:name]) %><% else %><span class="lighter">View</span><% end %></td>
			</tr>
			<tr>
				<% count = @user.activities.portfolios.count %>
				<td class="left">Portfolios</td>
				<td><%= count %></td>
				<td><%= link_to "New", new_activity_path(:category => Activity::PORTFOLIO[:name]) %> | <% if count > 0 %><%= link_to "View",activities_path(:category => Activity::PORTFOLIO[:name]) %><% else %><span class="lighter">View</span><% end %></td>
			</tr>
			<tr>
				<% count = @user.activities.line_sheets.count %>
				<td class="left">Line Sheets</td>
				<td><%= count %></td>
				<td><%= link_to "New", new_activity_path(:category => Activity::LINE_SHEET[:name]) %> | <% if count > 0 %><%= link_to "View",activities_path(:category => Activity::LINE_SHEET[:name]) %><% else %><span class="lighter">View</span><% end %></td>
			</tr>

		</table>
	</div>
	<div class="span6 offset2">
		<legend class="h2">Makers' Moon <%= @user.tier.capitalize %>
			<% if not @user.tier == User::MASTER %>
				<span class="p f-right"><%= link_to "Upgrade", account_user_path(@user) %></span>
			<% end %>
		</legend>
		<legend class="h2">Public Site<span class="p f-right"><%= link_to "Mingle", users_path %> | <%= link_to "Manage", public_user_path(@user) %></span></legend>
		<% if @user.share_with_public %>
			<%= render 'public_pages_list', user: @user %>
		<% else %>
			Promote yourself and your work!
			<%= link_to "Go public", public_user_path(@user), :class => "btn f-right" %>
		<% end %>
		<br /><br /><br />
		<%= render "actions/actions_area_full", actions: @actions %>
		<br /><br />
		<%= render "notes/notes_area_full", notes: @notes %>
		<br /><br />
	</div>
	</div>
</div><!-- row-fluid -->

