<% provide(:title, "Maker's Dashboard") %>
<div class="row-fluid">
	<div class="span4">
		<legend class="h2">My Business</legend>
		<h3>Works</h3>
		<% if @user.works.any? %>
			You currently have <%=@user.works.all.count %> works. <%= link_to "Add or view works", works_path, :class => "btn f-right" %><br /><br /><br />
			<%= link_to "Manage work categories", workcategories_path, :class => "btn" %><%= link_to "Manage work activities", activities_path, :class => "btn f-right" %>



		<% else %>
			Get started by uploading some works to Makers' Moon.<br />
			<%= link_to "Add!", works_path, :class => "btn f-right" %>
		<% end %>
		<br /><br />
		<h3>Venues</h3>
		<% if @user.venues.any? %>
			You currently have <%=@user.venues.all.count %> venues. <%= link_to "Add or view venues", venues_path, :class => "btn f-right" %>
		<% else %>
			No venues have been added yet!<br />
			 <%= link_to "Get started!", venues_path, :class => "btn f-right" %>
		<% end %>
		<br /><br />
		<h3>Clients</h3>
		<% if @user.clients.any? %>
			You currently have <%=@user.clients.all.count %> clients. <%= link_to "Add or View clients", clients_path, :class => "btn f-right" %>
		<% else %>
			No clients have been added yet!<br />
			 <%= link_to "Get started!", clients_path, :class => "btn f-right" %>
		<% end %>
	</div>
	<div class="span6 offset2">
		<legend class="h2">Public Front</legend>
		<h3>Public Site</h3>
		<% if @user.share_with_public %>
			You've created the following public pages using Makers' Moon. <%= link_to "Manage public site", public_user_path(@user), :class => "btn f-right" %> 
			<br /><br /><br />
			<%= render 'public_pages_list', user: @user %>
			<br /><br />
		<% else %>
			You are not currently using Makers' Moon to promote yourself and your works!<br />
			<%= link_to "Care to start now?", public_user_path(@user) %>
			<br /><br />
		<% end %>
		<h3>Fellow Makers</h3>
		Check out other makers on Makers' Moon!<%= link_to "To the moon!", users_path, :class => "btn f-right" %>

		
	</div>
</div><!-- row-fluid -->

