<div id="sidebar">
  <!--Sidebar content-->
  <div id="sidebar-content">
    <div class="accordion" id="accordianParent">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle-small" data-toggle="collapse" data-parent="#accordianParent" href="#worksSection">
              Works
          </a>
        </div>
        <div id="worksSection" class="accordion-body collapse">
          <div class="accordion-inner-small">
            <ul>
              <li><%= link_to "new", new_work_path %></li>
              <li><%= link_to "all", works_path %></li>
              <li><%= link_to "categories", workcategories_path %></li>
              <li><%= link_to "activity", "#" %></li>
            </ul>
          </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle-small" data-toggle="collapse" data-parent="#accordianParent" href="#venuesSection">
              Venues
          </a>
        </div>
        <div id="venuesSection" class="accordion-body collapse">
            <div class="accordion-inner-small">
              <ul>
                <li><%= link_to "new", new_venue_path %></li>
                <li><%= link_to "all", venues_path %></li>
                <li><%= link_to "categories", venuecategories_path %></li>
                <li><%= link_to "activity", "#" %></li>
              </ul>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle-small" data-parent="#accordianParent" data-toggle="collapse" href="#clientsSection">
              Clients
          </a>
        </div>
        <div id="clientsSection" class="accordion-body collapse">
            <div class="accordion-inner-small">
              <ul>
                <li><%= link_to "new", "#" %></li>
                <li><%= link_to "all", "#" %></li>
                <li><%= link_to "activity", "#" %></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
  <a id="toggleSidebar" href="#" class="toggles"><i class="icon-chevron-right"></i></a>
</div>