<%= form_for [ @category, @subcategory ] do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
  <div class="row">
  	<div class="span6">
  		<%= f.text_field :name, placeholder: "Subcategory name (required)" %>
  		<%= f.text_field :description, placeholder: "Subcategory description" %>
  		<%= f.submit "Create subcategory", class: "btn" %>
 		</div>
	</div>
<% end %>