<%= form_for(@category, :html => { :class => "form-horizontal" }) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
  <div class="row-fluid">
  	<div class="span4">
  		<div class="control-group">
        <%= f.label :name, :class => "control-label" %>
        <div class="controls">
              <%= f.text_field :name%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :status, :class => "control-label" %>
        <div class="controls">
              <%= f.text_field :status%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :description, :class => "control-label" %>
        <div class="controls">
              <%= f.text_field :description%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :final, :class => "control-label" %>
        <div class="controls">
          <%= f.check_box :final %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="form-actions">
          <%= f.submit "Create", class: "btn" %>
        </div> 
      </div>
 		</div>
	</div>
<% end %>