<ul class="list">
  <% works.each do |work| %>
    <li>
      <span class="work-title"><%= link_to work.title, work %>
       	&nbsp; <%= link_to icon(:edit), edit_work_path(work) %>
      	&nbsp; <%= link_to icon(:trash), work, method: :delete,
        	data: { confirm: "Delete #{work.title}?" },
          title: "Delete #{work.title}?" %></span><br />
          <span class = "list-description"><%= work.workcategory.name + " > " + work.worksubcategory.name %><% if !work.inventory_id.blank?%> <%= " > " + work.inventory_id %> <% end %><br />
      <span class="list-description"><%= work.description %></span>
    </li>
  <% end %>
</ul>