<div class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<%= category.name %> <b class="caret lighter"></b>
	</a>
	<ul class="dropdown-menu">
		<li><%= link_to "View", workcategory_path(category) %></li>
		<li><%= link_to "Edit", edit_workcategory_path(category) %></li>
	  <li><%= link_to "Delete", workcategory_path(category), method: :delete,
			data: { confirm: "All subcategories will be deleted and all works in this category will become uncategorized. Delete #{category.name}? " },
	  	title: "Delete #{category.name}? " %></li>
	  <li class="divider"></li>
	  <li><%= link_to 'New subcategory', new_workcategory_worksubcategory_path(category) %></li>
	</ul> &nbsp; &nbsp;
	<span class="description">Includes <%= category.works.count %> works.	<%= category.description %></span>
</div>
