<table id="Works">
  <thead>
    <tr>
      <% if include_category %>
        <th>Category</th>
      <% end %>
      <% if include_subcategory %>
        <th>Subcategory</th>
      <% end %>
      <th>Status</th>
      <th>Title</th>
      <th>Inventory ID</th>
      <th>Creation Date</th>
      <th>Description</th>
      <th>Dimention X</th>
      <th>Dimention Y</th>
      <th>Dimention Units</th>
      <th>Expense Hours</th>
      <th>Expense Materials</th>
      <th>Income</th>
      <th>Retail Value</th>
    </tr>
  </thead>
  <tbody>
    <% works.each do |work| %>
      <tr>
        <% if include_category %>
          <td><div class=overflow><%= work.worksubcategory.workcategory.name %></div></td>
        <% end %>
        <% if include_subcategory %>
          <td><div class=overflow><%= work.worksubcategory.name %></div></td>
        <% end %>
        <td><div class=largeoverflow><%= work.status %></div></td>
        <td><div class=overflow><%= link_to work.title, work_path(work) %></td>
        <td><div class=overflow><%= work.inventory_id %></div></td>
        <td><div class=overflow><%= work.creation_date %></div></td>
        <td><div class=overflow><%= work.description %></div></td>
        <td><div class=overflow><%= work.dimention1 %></div></td>
        <td><div class=overflow><%= work.dimention2 %></div></td>
        <td><div class=overflow><%= work.dimention_units %></div></td>
        <td><div class=overflow><%= work.expense_hours %></div></td>
        <td><div class=overflow><%= work.expense_materials %></div></td>
        <td><div class=overflow><%= work.income_wholesale %></div></td>
        <td><div class=overflow><%= work.income_retail %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>