<%= form_for(@worktype) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
  <div class="row">
  	<div class="span6">
  		<%= f.text_field :name, placeholder: "Create a new type of work" %>
  		<%= f.text_field :description, placeholder: "Describe the new type of work" %>
  		<%= f.submit "Create new type", class: "btn" %>
 		</div>
	</div>
<% end %>