<table id="Clients">
  <thead>
    <tr>
      <th>Actions</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Stree Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Collected Works</th>
    </tr>
  </thead>
  <tbody>
    <% clients.each do |client| %>
      <tr>
        <td>
          <%= link_to icon(:edit), client_path(client), class: "icon-edit bottom" %> &nbsp;
          <%= link_to icon(:trash), client, class: "icon-trash bottom", method: :delete, data: { confirm: "Delete #{client.name}?" }, title: 'Delete?' %>
        </td>
        <td><div class=largeoverflow><%= client.name %></div></td>
        <td><div class=overflow><%= client.email %></div></td>
        <td><div class=overflow><%= client.phone %></div></td>
        <td><div class=overflow><%= client.address_street %></div></td>
        <td><div class=overflow><%= client.address_city %></div></td>
        <td><div class=overflow><%= client.address_state %></div></td>
        <td><div class=overflow><%= client.address_zipcode %></div></td>
        <td><div class=overflow><%= client.id %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>
