<% provide(:crumbs, 'Venues,' + venues_path + '|' + @venue.venuecategory.name + ',#') %>
<% provide(:title, @venue.name) %>
<% provide(:edit_form, "edit_venue") %>
<% provide(:delete_record, @venue) %>

<div id="edit_venue" class="not-displayed">
  <%= render 'shared/form_venue', venue: @venue %>
</div>

<div id="venue_data">
	<%= render 'shared/venue_contact', venue: @venue %>
	<br />
	<%= render 'shared/venue_address', venue: @venue %>
</div>

<br />
<br />
<% if @currentconsignments.any? %>
	<h2>Works Currently Consigned</h2>
	<%= render 'shared/table_activities', activities: @currentconsignments, date_end_include: true, client_include: false %>
<% end %>
<% if @pastconsignments.any? %>
	<h2>Works Previously Consigned</h2>
	<%= render 'shared/table_activities', activities: @pastconsignments, date_end_include: true, client_include: false %>
<% end %>
<% if @sales.any? %>
	<h2>Works Sold</h2>
	<%= render 'shared/table_activities', activities: @sales, date_end_include: false, client_include: false %>
<% end %>