<% provide(:crumbs, 'Venues,' + venues_path) %>
<% provide(:title, @venue.name) %>
<% provide(:delete_record, @venue) %>

<%= render 'form_venue', venue: @venue, venuecategories: @venuecategories %>

<h2><%= link_to "New Activity", "../works/activities/new?venue=#{@venue.munged_name}" %></h2>

<% 
	currentConsignments = @venue.current_consignments
	pastConsignments = @venue.past_consignments
	sales = @venue.sales
%>
<h2>Current and Future Works Consigned</h2>
<% if currentConsignments.any? %>
	<%= render 'activities/table_activities', activities: currentConsignments, date_end_include: true, client_include: false %>
<% else %>
	There are no works currently consigned to this venue.
<% end %>
<h2>Works Previously Consigned</h2>
<% if pastConsignments.any? %>
	<%= render 'activities/table_activities', activities: pastConsignments, date_end_include: true, client_include: false %>
<% else %>
	There were no works previously consigned to this venue.
<% end %>
<h2>Works Sold</h2>
<% if sales.any? %>
	<%= render 'activities/table_activities', activities: sales, date_end_include: false, client_include: false %>
<% else %>
	There are no sales to this venue yet.
<% end %>