<% provide(:page, "#{@venue.name} Venue") %>
<% provide(:crumbs, 'Venues,' + venues_path) %>
<% provide(:title, @venue.name) %>
<% provide(:delete_record, @venue) %>

<div class="row-fluid">
	<div class="span7">
		<div class="form-box">
			<%= render 'form_venue', venue: @venue %>
		</div>
		<br /><br />
		<legend class="h2">Activities &nbsp; &nbsp; <%= link_to "New", "../works/activities/new?venue=#{@venue.munged_name}" %></legend>
		<% if @activities.any? %>
			<div class="form-box limit-size">
				<%= render 'activities/table_activities', activities: @activities, category: @category %>
			</div>
		<% else %>
			No activities recorded for this venue yet.
		<% end %>
	</div>
	<div class="span4 offset1">
		<%= render 'actions/actions_area', actions: @actions %>
		<br /><br />
		<%= render 'notes/notes_area', notes: @notes %>
	</div>
</div>