<legend>Work details to display</legend>
<div class='row-fluid'>
  <div class='span5'>
  	<div class="control-group">
  		<%= f.label :include_image, "Image", :class => "control-label" %>
  		<div class="controls"><%= f.check_box :include_image %></div>
  	</div>
    <div class="control-group">
      <%= f.label :include_inventory_id, "Inventory ID", :class => "control-label" %>
      <div class="controls"><%= f.check_box :include_inventory_id %></div>
    </div>
    <div class="control-group">
      <%= f.label :include_title, "Title", :class => "control-label" %>
      <div class="controls"><%= f.check_box :include_title %></div>
    </div>
    <div class="control-group">
      <%= f.label :include_creation_date, "Creation date", :class => "control-label" %>
      <div class="controls"><%= f.check_box :include_creation_date %></div>
    </div>
    <div class="control-group">
      <%= f.label :include_quantity, "Quantity", :class => "control-label" %>
      <div class="controls"><%= f.check_box :include_quantity %></div>
    </div>
  </div>
  <div class='span5 offset1'>
    <div class="control-group">
      <%= f.label :include_dimensions, "Dimentions", :class => "control-label" %>
      <div class="controls"><%= f.check_box :include_dimensions %></div>
    </div>
    <div class="control-group">
      <%= f.label :include_materials, "Materials", :class => "control-label" %>
      <div class="controls"><%= f.check_box :include_materials %></div>
    </div>
    <div class="control-group">
      <%= f.label :include_description, "Description", :class => "control-label" %>
      <div class="controls"><%= f.check_box :include_description %></div>
    </div>
    <div class="control-group">
      <%= f.label :include_income, "Artist's payment", :class => "control-label" %>
      <div class="controls"><%= f.check_box :include_income %></div>
    </div>
    <div class="control-group">
      <%= f.label :include_retail, "Value", :class => "control-label" %>
      <div class="controls"><%= f.check_box :include_retail %></div>
    </div>
  </div>
</div>