<div class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<%= category.name %> <b class="caret lighter"></b>
	</a>
	<ul class="dropdown-menu">
		<li><%= link_to "Edit", edit_workcategory_path(category) %></li>
	  <li><%= link_to "Delete", workcategory_path(category), method: :delete,
			data: { confirm: "Delete #{category.name}? This will not delete any of the works or children categories of this category. They will simply become uncategorized." },
	  	title: "Delete #{category.name}? " %></li>
	</ul> &nbsp; &nbsp;
	<span class="description">Includes <%= category.works.count %> works.	<%= category.artist_statement %></span>
</div>
