<% provide(:title, 'Work categories') %>

<% if @workcategories.any? %>
<h1><%= yield(:title) %></h1>
<ul class="list">
  <% @workcategories.each do |workcategory| %>
    <li>
      <%= render 'shared/work_category_list_element', level: 'list', category: workcategory %>
      	<ul class="sublist">
      		<% if workcategory.worksubcategories.any? %>
      			<% workcategory.worksubcategories.each do |worksubcategory| %>
         	 		<li>
           		<%= render 'shared/work_subcategory_list_element', level: 'sublist', category: workcategory, subcategory: worksubcategory %>
           			<ul class="sublist"><li>
           				<% if worksubcategory.works.any? %>
           				 <%= link_to 'Manage works', works_path %>
           				<% else %>
									 <%= link_to 'Add works', new_work_path %>
                  <% end %>
								</li></ul>
         		 </li>
        		<% end %>
        		<%= link_to 'Create another subcategory', new_workcategory_worksubcategory_path(workcategory) %>
        	<% else %>
      			<%= link_to 'Create a subcategory', new_workcategory_worksubcategory_path(workcategory) %>
      		<% end %>
      	</ul>
    </li>
  <% end %>
  <li><a id="new_workcategory_select" href="#new_workcateagory">Create another category</a></li>
</ul>
<% else %>
	<%= render 'shared/get_started_work_categories' %>
  <%= link_to 'Create a category', "#new_workcategory" %>
<% end %>
<div id="new_workcategory" class="not-displayed">
  <%= render 'shared/workcategory_form', newcategory: @newcategory %>
</div>
