<div id="activity_form_maker">
<h5>Artist contact information</h5>
<div class="row-fluid">
  <div class="span6">
    <div class="control-group">
      <%= f.label :maker, "Name", :class => "control-label" %>
      <div class="controls"><%= f.text_field :maker %></div>
    </div>
    <div class="control-group">
      <%= f.label :maker_medium, "Medium", :class => "control-label" %>
      <div class="controls"><%= f.text_field :maker_medium %></div>
    </div>
    <div class="control-group">
      <%= f.label :maker_phone, "Phone", :class => "control-label" %>
      <div class="controls"><%= f.text_field :maker_phone %></div>
    </div>
    <div class="control-group">
      <%= f.label :maker_email, "Email", :class => "control-label" %>
      <div class="controls"><%= f.text_field :maker_email %></div>
    </div>
    <div class="control-group">
      <%= f.label :maker_site, "Site", :class => "control-label" %>
      <div class="controls"><%= f.text_field :maker_site %></div>
    </div>
  </div>
  <div class="span6">
    <div class="control-group">
      <%= f.label :maker_address_street, "Street address", :class => "control-label" %>
      <div class="controls"><%= f.text_field :maker_address_street %></div>
    </div>
    <div class="control-group">
      <%= f.label :maker_address_city, "City", :class => "control-label" %>
      <div class="controls"><%= f.text_field :maker_address_city %></div>
    </div>
    <div class="control-group">
      <%= f.label :maker_address_state, "State", :class => "control-label" %>
      <div class="controls"><%= f.text_field :maker_address_state %></div>
    </div>
    <div class="control-group">
      <%= f.label :maker_address_zipcode, "Zip code", :class => "control-label" %>
      <div class="controls"><%= f.text_field :maker_address_zipcode %></div>
    </div>
  </div>
</div>
</div>