<table id="Activities">
  <thead>
    <tr>
      <th></th>
      <th>Activity</th>
      <th>Work</th>
      <th>Venue</th>
      <% if date_end_include %>
        <th>Start Date</th>
        <th>
          
            End Date <%= link_to icon(:'star-empty'), "#", class: "icon-star-empty lighter popover-input", rel: "popover", :"data-title" => "The meaning of end date...", :"data-content" => "varies for different activities. Sales: full payment date. Consignments: work returned date. Commissions: work completed date. The other activities have the same start and end dates.", :"data-placement" => "top" %>
          
        </th>

      <% else %>
        <th>Date</th>
      <% end %>
      <th>Income</th>
      <th>Retail</th>
      <% if client_include  %>
        <th>Client</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% activities.each do |activity| %>
      <tr>
        <td>
          <%= link_to icon(:edit), activity_path(activity), class: "icon-edit bottom" %> &nbsp;
          <%= link_to icon(:trash), activity, class: "icon-trash bottom", method: :delete, data: { confirm: "Delete this #{activity.activitycategory.name.downcase} of #{activity.work.title}?" }, title: 'Delete?' %>
        </td>
        <td><div class=largeoverflow><%= activity.activitycategory.name %></div></td>
        <td><div class=largeoverflow><%= link_to activity.work.title, work_path(activity.work) %></td>
        <td><div class=largeoverflow><%= link_to activity.venue.name, venue_path(activity.venue) %></div></td>
        <td><div class=largeoverflow><%= activity.date_start %></div></td>
        <% if date_end_include %>
          <td><div class=largeoverflow><%= activity.date_end %></div></td>
        <% end %>
        <td><div class=largeoverflow><%= activity.income %></div></td>
        <td><div class=largeoverflow><%= activity.retail %></div></td>
        <% if client_include  %>
          <td><div class=largeoverflow><%= client_name(activity) %></div></td>
        <% end %>        
      </tr>
    <% end %>
  </tbody>
</table>