<table id="Activities">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Work</th>
      <th>Venue</th>
      <% if date_end_include %>
        <th>Start Date</th>
        <th>End Date</th>
      <% else %>
        <th>Date</th>
      <% end %>
      <th>Income</th>
      <th>Retail</th>
      <% if client_include  %>
        <th>Client</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% activities.each do |activity| %>
      <tr>
        <td><div class=largeoverflow><%= link_to activity.activitycategory.name, activity_path(activity) %></div></td>
        <td><div class=largeoverflow><%= link_to activity.work.title, work_path(activity.work) %></td>
        <td><div class=largeoverflow><%= link_to activity.venue.name, venue_path(activity.venue) %></div></td>
        <td><div class=largeoverflow><%= activity.date_start %></div></td>
        <% if date_end_include %>
          <td><div class=largeoverflow><%= activity.date_end %></div></td>
        <% end %>
        <td><div class=largeoverflow><%= activity.income %></div></td>
        <td><div class=largeoverflow><%= activity.retail %></div></td>
        <% if client_include  %>
          <td><div class=largeoverflow><%= activity.client.name %></div></td>
        <% end %>        
      </tr>
    <% end %>
  </tbody>
</table>