<% provide(:crumbs, 'Public Site,#') %>
<% provide(:title, @site.brand) %>
<% provide(:edit_link, edit_site_path(@site)) %>

<p>The public pages below promote you and your art!</p>
<h2>

  <%= link_to "Home", home_site_path(@site) %> &nbsp; &nbsp;
 	<%= link_to "About", about_site_path(@site) %> &nbsp; &nbsp;
  <% if !@site.blog.blank? %>
 	  <%= link_to "Blog", @site.blog %> &nbsp; &nbsp;
  <% end %>
	<% if @site.works.any? %>
    <% @site.parent_workcategories_on_site.each do | parent | %>
      <span class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= parent.name %> <b class="caret lighter bottom"></b> &nbsp; &nbsp;
        </a>
        <ul class="dropdown-menu">
          <% @site.children_workcategories_on_site(parent).each do | child | %>
            <li><%= link_to child.name, "#{@site.id.to_s()}/#{child.name}" %></li>
          <% end %>
        </ul>
      </span>
    <% end %>
  <% end %>
	<%= link_to "Contact", contact_site_path(@site) %>
</h2>
<p>The following works and venues will be visible on the <br />

Works: (<%= @site.works.count.to_s() %> works on site, <%= @additionalworks.count.to_s() %> could be added)<br />

Venues: (<%= @site.venues.count.to_s() %> venues on site, <%= @additionalvenues.count.to_s() %> could be added)