<div class="navbar-inner">
    <nav>
      <a class="brand"><%= current_user.name %></a>
      <ul class="nav pull-right">
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              site <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if @current_user.sites.all.any? %>
              <% site = @current_user.sites.first %>
              <li><%= link_to "Update", edit_site_path(site) %></li>
              <li><%= link_to "View", site_path(site) %></li>
            <% else %>
              <li><%= link_to "Create", new_site_path %></li>
            <% end %>  
          </ul>
        </li><li class="dropdown">
          <a href="#" class="dropdown-toggle icon" data-toggle="dropdown">
            &nbsp; &nbsp; &nbsp; &nbsp; <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Makers", users_path %></li>
            <li><%= link_to "Profile", edit_user_path(current_user) %></li>
            <li><%= link_to "Help",  help_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          </ul>
        </li>
       </ul>
    </nav>
 
</div>