<div class="header">
  <div class="row-fluid nav_public">
    <div class="public_brand">M<span class="small">akers' </span> M<span class="small">oon</span></div>
    <div class="nav_links">
      <%= link_to "Home", root_path %>
      <%= link_to "Features",  features_path %>
      <%= link_to "Pricing",  pricing_path %>
      <%= link_to "Makers", users_path %>
    </div>
    <div class="sign_links">
      <%= link_to  "Sign up", signup_path %>
      <br />or</br>
      <%= link_to "Log in", signin_path %>
    </div>
  </div>
  <div class="row-fluid tag_line">one small step for you, one giant leap for your business</div>      
</div>