<div class="accordion-heading">
  <a class="accordion-toggle-small" data-toggle="collapse" data-parent="#accordianParent" href="#worksSection">
      Works
  </a>
</div>
<div id="worksSection" class="accordion-body collapse">
  <div class="accordion-inner-small">
    <ul class="accordion-list">
      <li><%= link_to "All", works_path %> (<%= current_user.works.count %>)
        <!-- Activities -->
        <li class="divider"></li>
        <li>By Status</li> 
        <ul class="accordion-list">
          <% if @current_user.works.available.any? %>
            <li><%= link_to "Available", works_path(:statusfilter => "Available") %> (<%= @current_user.works.available.count %>)</li>
          <% end %>
          <% @current_user.activitycategories.each do |activitycategory| %>
            <% if activitycategory.activities.count > 0 %>
              <li>
                <%= link_to activitycategory.status, works_path(:statusfilter => activitycategory.status) %> (<%= activitycategory.activities.count %>)
              </li>
            <% end %>
          <% end %>
        </ul><!-- /Activities -->
        <li class="divider"></li>
        <li>By Category</li>
        <!-- WorkCategories -->
        <ul class="accordion-list">
          <% @current_user.workcategories.parents_only.each do |parent| %>
            <% if parent.works.count > 0 %>
              <li><%= link_to parent.name, works_path(:categoryfilter => parent.name) %> (<%= parent.works.count %>)</li>
            <% end %>
            <% if parent.children.any? %>
              <% parent.children.each do |child| %>
                <% if child.works.any? %>
                  <li class="sidebar-sublist"><%= link_to parent.name + " > " + child.name, works_path(:categoryfilter => parent.name + "." + child.name) %> (<%= child.works.count %>)</li>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <% if @current_user.works.uncategorized.any? %>
            <li><%= link_to "Uncategorized", works_path(:categoryfilter => "Uncategorized") %> (<%= @current_user.works.uncategorized.count %>)</li>
          <% end %>
        </ul>
        <!-- /WorkCategories -->
      </li>
      <li class="divider"></li>
        <li><%= link_to "All Activities", activities_path %></li>
      <li class="divider"></li>
      <li><%= link_to "All Categories", workcategories_path %></li>
    </ul>
  </div>
</div>