<div id="sidebar-content" class="show">
  YOUR BUSINESS<br /><br />
  <div class="accordion" id="accordianParent">
    <div class="accordion-group">
      <%= render 'layouts/sidebar_works' %>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to "Venues", venues_path, class: "accordion-toggle-small" %>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to "Clients", clients_path, class: "accordion-toggle-small" %>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle-small" data-toggle="collapse" data-parent="#accordianParent" href="#reportSection">
            Reports&nbsp;<b class="caret lighter bottom"></b>&nbsp;
        </a>
        <div id="reportSection" class="accordion-body collapse">
          <div class="accordion-inner-small">
            <ul class="accordion-list">
              <li><%= link_to "Financials", "#" %></li>
              <li><%= link_to "Sales", "#" %></li>
              <li><%= link_to "Consignments", "#" %></li>
              <li><%= link_to "Top clients", "#" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>