<div id="sidebar-content" class="show">
  <%= link_to "DASHBOARD", user_path(current_user) %><br /><br />
  <div class="accordion" id="accordianParent">
    <div class="accordion-group">
      <%= render 'layouts/sidebar_works' %>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to "Venues", venues_path, class: "accordion-toggle-small" %>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to "Clients", clients_path, class: "accordion-toggle-small" %>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to "Activities", activities_path, class: "accordion-toggle-small" %>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to "Insights", insight_user_path(current_user), class: "accordion-toggle-small" %>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="accordion-toggle-small">
          <a href="<%= documents_path %>">Documents</a>
          <a data-toggle="collapse" data-parent="#accordianParent" href="#documentsSection">&nbsp;<b class="caret lighter bottom"></b>&nbsp;</a>
        </div>
      </div>
      <div id="documentsSection" class="accordion-body collapse">
        <div class="accordion-inner-small">
          <ul class="accordion-list">
            <% Document::DOCUMENTS_ARRAY.each do |doc| %>
              <li><%= link_to doc, documents_path(:category => doc) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>