<div id="sidebar-content" class="show">
  <div class="accordion" id="accordianParent">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle-small" data-toggle="collapse" data-parent="#accordianParent" href="#worksSection">
            Works
        </a>
      </div>
      <div id="worksSection" class="accordion-body collapse">
        <div class="accordion-inner-small">
          <ul class="accordion-list">
            <% if @current_user.worksubcategories.any? %>
              <li><%= link_to "New", new_work_path %></li>
              <li class="divider"></li>
              <li><%= link_to "All", works_path %> (<%= current_user.works.count %>)
                <!-- WorkCategories -->
                <ul class="accordion-list">
                  <% @current_user.workcategories.each do |workcategory| %>
                    <li>
                      <%= link_to workcategory.name, workcategory_path(workcategory) %> (<%= workcategory.works.count %>)
                      <ul class="accordion-list">
                        <% workcategory.worksubcategories.each do |worksubcategory| %>
                          <li>
                            <%= link_to worksubcategory.name, workcategory_worksubcategory_path(workcategory, worksubcategory) %> (<%= worksubcategory.works.count %>)
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              <!-- /WorkCategories -->
              </li>
              <li class="divider"></li>
              <li><%= link_to "Manage Categories", workcategories_path %></li>
            <% else %>
              <li><%= link_to "Get Started", workcategories_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle-small" data-toggle="collapse" data-parent="#accordianParent" href="#venuesSection">
            Venues
        </a>
      </div>
      <div id="venuesSection" class="accordion-body collapse">
        <div class="accordion-inner-small">
          <ul class="accordion-list">
            <% if @current_user.venuecategories.any? %>
              <li><%= link_to "New", new_venue_path %></li>
              <li class="divider"></li>
              <li><%= link_to "All", venues_path %> (<%= current_user.venues.count %>)
                <!-- VenueCategories -->
                <ul class="accordion-list">
                  <% @current_user.venuecategories.each do |venuecategory| %>
                    <li>
                      <%= link_to venuecategory.name, venuecategory_path(venuecategory) %> (<%= venuecategory.venues.count %>)
                    </li>
                  <% end %>
                </ul>
                <!-- /VenueCategories -->
              </li>
              <li class="divider"></li>
              <li><%= link_to "Manage Categories", venuecategories_path %></li>
            <% else %>
              <li><%= link_to "Get Started", venuecategories_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to "Clients", clients_path, class: "accordion-toggle-small" %>
      </div>
    </div>
    <% if @current_user.venues.any? && @current_user.works.any? %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle-small" data-toggle="collapse" data-parent="#accordianParent" href="#activitySection">
              Activity
          </a>
        </div>
        <div id="activitySection" class="accordion-body collapse">
          <div class="accordion-inner-small">
            <ul class="accordion-list">
              <% if @current_user.activitycategories.any? %>
                <li><%= link_to "New", new_activity_path %></li>
                <li class="divider"></li>
                <li><%= link_to "All", activities_path %> (<%= current_user.activities.count %>)</li>
                  <!-- ActivityCategories -->
                  <ul class="accordion-list">
                    <% @current_user.activitycategories.each do |activitycategory| %>
                      <li>
                        <%= link_to activitycategory.name, activitycategory_path(activitycategory) %> (<%= activitycategory.activities.count %>)
                      </li>
                    <% end %>
                  </ul>
                <!-- /ActivityCategories -->
                <li class="divider"></li>
                <li><%= link_to "Manage Categories", activitycategories_path %></li>
              <% else %>
              <li><%= link_to "Get Started", activitycategories_path %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>