<div class="accordion-heading">
  <a class="accordion-toggle-small" data-toggle="collapse" data-parent="#accordianParent" href="#worksSection">
      Works
  </a>
</div>
<div id="worksSection" class="accordion-body collapse">
  <div class="accordion-inner-small">
    <ul class="accordion-list">
      <li><%= link_to "All", works_path %> (<%= current_user.works.count %>)
        <!-- WorkCategories -->
        <ul class="accordion-list">
          <% @current_user.workcategories.each do |workcategory| %>
            <% if workcategory.works.count > 0 %>
              <% workcategory.worksubcategories.each do |worksubcategory| %>
                <% if worksubcategory.works.count > 0 %>
                  <li><%= link_to workcategory.name + ' > ' + worksubcategory.name, works_path(:categoryfilter => workcategory.name + '.' + worksubcategory.name) %> (<%= worksubcategory.works.count %>)</li>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      <!-- /WorkCategories -->
      </li>
      <li class="divider"></li>
      <li><%= link_to "Manage Categories", workcategories_path %></li>
    </ul>
  </div>
      </div>