<div id="sidebar-content" class="show">
  <div class="accordion" id="accordianParent">
    <div class="accordion-group">
      <% if @current_user.works.any? %>
        <%= render 'layouts/sidebar_works' %>
      <% else %>
        <%= render 'layouts/sidebar_works_start' %>
      <% end %>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to "Venues", venues_path, class: "accordion-toggle-small" %>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <%= link_to "Clients", clients_path, class: "accordion-toggle-small" %>
      </div>
    </div>
    <% if @current_user.venues.any? && @current_user.works.any? %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle-small" data-toggle="collapse" data-parent="#accordianParent" href="#activitySection">
              Activity
          </a>
        </div>
        <div id="activitySection" class="accordion-body collapse">
          <div class="accordion-inner-small">
            <ul class="accordion-list">
              <% if @current_user.activitycategories.any? %>
                <li><%= link_to "All", activities_path %> (<%= current_user.activities.count %>)</li>
                  <!-- ActivityCategories -->
                  <ul class="accordion-list">
                    <% @current_user.activitycategories.each do |activitycategory| %>
                      <li>
                        <%= link_to activitycategory.name, activitycategory_path(activitycategory) %> (<%= activitycategory.activities.count %>)
                      </li>
                    <% end %>
                  </ul>
                <!-- /ActivityCategories -->
              <% else %>
              <li><%= link_to "Get Started", activitycategories_path %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>