<% 
  works = @current_user.works.all
  categories = @current_user.workcategories.all
%>
<div class="accordion-heading">
  <div class="accordion-toggle-small">
    <a href="<%= works_path %>">Works</a>
    <% if works.any? || categories.any? %>
      <a data-toggle="collapse" data-parent="#accordianParent" href="#worksSection">&nbsp;<b class="caret lighter bottom"></b>&nbsp;</a>
    <% end %>
  </div>
</div>
<div id="worksSection" class="accordion-body collapse">
  <div class="accordion-inner-small">
    <ul class="accordion-list">
      <% if works.any? %>
        <% 
          activitityCounts = @current_user.work_current_activities.inject(Hash.new(0)) { |total, e| total[e] += 1; total}
          parentCategories = @current_user.workcategories.parents_only.all(include: :works)
          uncategorizedWorks = @current_user.works.uncategorized.all 
         %>
        <!-- Activities -->
        <li>By Status</li> 
        <ul class="accordion-list">
          <% if activitityCounts["Available"] > 0  %>
            <li><%= link_to "Available", works_path(:statusfilter => "Available") %> (<%= activitityCounts["Available"] %>)</li>
          <% end %>
          <% Activitycategory.all.each do |activitycategory| %>
            <% 
              status = activitycategory.status
            %>
            <% if activitityCounts[status] > 0 %>
              <li>
                <%= link_to status, works_path(:statusfilter => status) %> (<%= activitityCounts[status] %>)
              </li>
            <% end %>
          <% end %>
        </ul><!-- /Activities -->
        <li>By Category</li>
        <!-- WorkCategories -->
        <ul class="accordion-list">
          <% parentCategories.each do |parent| %>
            <% if parent.works.length > 0 %>
              <li><%= link_to parent.name, works_path(:categoryfilter => parent.name) %> (<%= parent.works.length %>)</li>
            <% end %>
            <% childrenCategories = parent.children %>
            <% if childrenCategories.any? %>
              <% childrenCategories.each do |child| %>
                <% childWorks = child.works %>
                <% if childWorks.any? %>
                  <li><%= link_to parent.name + " > " + child.name, works_path(:categoryfilter => parent.name + "." + child.name) %> (<%= childWorks.length %>)</li>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <% if uncategorizedWorks.any? %>
            <li><%= link_to "Uncategorized", works_path(:categoryfilter => "Uncategorized") %> (<%= uncategorizedWorks.length %>)</li>
          <% end %>
        </ul>
        <!-- /WorkCategories -->
        <li class="divider"></li>
          <li><%= link_to "Activities", activities_path %></li>
        <li class="divider"></li>
      <% end %>
      <li><%= link_to "Categories", workcategories_path %></li>
    </ul>
  </div>
</div>