<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %> 
  </head>
  <body>
    <header class="navbar navbar-static-top">
      <%= render 'layouts/header'%>
    </header>
    <div id="content-container" class="container-fluid">
      <div class="row-fluid">
        <div id="sidebar" class="sidebar-glide span2">  
          <a id="toggleSidebar" href="#" class="icon-chevron-left"></a> 
          <%= render 'layouts/sidebar'%>
        </div><!--/#sidebar -->
        <div id="content" class="span10 offset2" >
          <div id="crumbs">
            <% if yield(:crumbs).present? %>  
              <div id="crumb-text">
                <% (yield(:crumbs)).split('|').each do |crumb| %>
                  <%= link_to (crumb.split(','))[0], (crumb.split(','))[1] %> <span class="lighter"> > </span>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="content-title">
            <h1>
              <%= yield(:title) %>  
              <span class="h2">
                <%= link_to "new", yield(:new_link) if yield(:new_link).present? %>
                <% if yield(:new_form).present? %>
                  <a id=<%= yield(:new_form)  + "_select" %> href=<%= "#" + yield(:new_form) %>>new</a>
                <% end %>
                <%= link_to "update", yield(:edit_link) if yield(:edit_link).present? %>
                <% if yield(:edit_form).present? %>
                  <a id=<%= yield(:edit_form)  + "_select" %> href=<%= "#" + yield(:edit_form) %>>edit</a>
                <% end %>
              </span>
            </h1>
          </div>
          <div class="content-body">
            <%= render 'shared/flash_messages' %>
            <%= yield %>
          </div>
        </div><!-- /content -->
      </div>
    </div> <!-- /container -->
    <footer>
      <%= render 'layouts/footer'%>
    </footer>
  </body>
</html>

