<!DOCTYPE html>
<html>
  <head>
    <title>Makers' Moon</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %> 
    <%= render 'layouts/google_analytics' %>
  </head>
  <body class="row-fluid span12 back">
    <header class="navbar navbar-static-top">
      <%= render 'layouts/header_public'%>
    </header>
    <div id="public_content" class="container-fluid">
      <div class="row-fluid">
        <%= yield %>
      </div>
    </div>
    <div id="public_footer">&nbsp;
    </div>
  </body>
</html>

