<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:maker), yield(:page)) %></title>
    <meta name="description" content="Maker's Moon is an art inventory and business management for makers of all kinds. It catalogs works, clients, and venues along with the activities between them. It promotes the maker with public pages." />
    <meta name="keywords" content="art inventory, business management, online database">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %> 
    <%= render 'layouts/google_analytics' %>
  </head>
  <body class="row-fluid span12 back">
    <header class="navbar navbar-static-top">
      <%= render 'layouts/header_public'%>
    </header>
    <div id="public_content" class="container-fluid">
      <div class="row-fluid">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>
    </div>
    <div id="public_footer">&nbsp;
    </div>
  </body>
</html>

