<!DOCTYPE html>
<html>
  <head>
    <title><%= site_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %> 
  </head>
  <body>
     <header class="navbar navbar-fixed-top">
      <%= render 'layouts/site_header'%>
    </header>
    <div class="content">
      <div class="content-title">
        <h2><%= yield(:title) %></h2>
      </div>
      <div class="content-body">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>
    </div><!-- /content -->
   <footer>
    <%= render 'layouts/footer'%>
   </footer>
  </body>
</html>

