<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:maker), yield(:page)) %></title>
    <meta name="description" content="Maker #{yield(:maker)} has created public pages to introduce them self and share their works. This site is powered by Maker's Moon, an art inventory and business management tool for makers." />
    <meta name="keywords" content="art inventory, business management, online database, #{yield(:maker)}">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %> 
    <%= render 'layouts/google_analytics' %>
  </head>
  <body>
     <header class="navbar navbar-static-top">
      <%= render 'layouts/site_header'%>
    </header>
    <div id="content-container" class="container-fluid">
      <div class="row-fluid">
        <div id="content" class="span12" >
          <div class="content-title">
            <h2><%= yield(:title) %></h2>
          </div>
          <div class="content-body">
            <%= render 'shared/flash_messages' %>
            <%= yield %>
           </div>
        </div><!-- /content -->
      </div><!-- /row-fluid -->
    </div> <!-- /container -->
   <footer>
    <%= render 'layouts/footer'%>
   </footer>
  </body>
</html>

